html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li {
  list-style: none;
  list-style-type: none;
}

p {
  margin: 0;
}

.is-hidden {
  opacity: 0;
}

.film-card {
  position: fixed;
  top: 20px;
  left: 0;
  // display: flex;
  // flex-direction: column;
  width: 280px;
  height: 958px;
  background: #ffffff;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;

  color: #000000;

  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  // @media screen and (min-width: 480px) {
  //   width: 280px;
  // }

  // @media screen and (min-width: 768px) {
  //   width: 618px;
  //   padding-left: 75px;
  //   padding-right: 75px;
  // }

  // @media screen and (min-width: 1024px) {
  //   width: 882px;
  //   padding-left: 71px;
  //   padding-right: 71px;
  // }
}

.film-img {
  width: 240px;
  height: 356px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.film-title {
  width: 266px;
  height: 21px;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}

.film-info {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

.film-info-text {
  margin-right: 30px;
}

.film-info-item {
  // display: inline-block;
  margin-bottom: 10px;
}

// .film-info-item:not(:last-child) {
//   display: inline-block;
// }

.film-info-text-render {
  margin-bottom: 10px;
  color: #000000;
}

.film-info-text-popularity {
  margin-bottom: 10px;
}

.vote-average {
  display: inline-block;
  width: 36px;
  height: 16px;
  background: #ff6b01;
  border-radius: 5px;
  text-align: center;
  padding-top: 1px;
  margin-bottom: 10px;
}

.vote-count {
  display: inline-block;
  width: 36px;
  height: 16px;
  background: #f7f7f7;
  border-radius: 5px;
  text-align: center;
  padding-top: 1px;
  margin-bottom: 10px;
}

.film-info-text-popularity {
  margin-bottom: 10px;
}

.film-info-text-original-title {
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.film-info-text-genres {
  display: inline-block;
  background: #f7f7f7;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px;
}

.film-about {
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.film-overview {
  width: 240px;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}

.button-block {
  display: flex;
}

.add-to-watched {
  width: 112px;
  height: 44px;
  background: #ff6b01;
  border-radius: 5px;
  margin-right: 15px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.add-to-queue {
  font-size: 12px;
  line-height: 16px;

  text-align: center;
  text-transform: uppercase;
  width: 112px;
  height: 44px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}
