:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

/* Lightbox */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
  z-index: 100;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.lightbox__content {
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
  position: fixed;
  top: 0;
  width: 280px;
  height: 958px;
  margin-left: auto;
  margin-right: auto;

  // @media screen and (min-width: 480px) {
  //   width: 280px;
  // }

  // @media screen and (min-width: 768px) {
  //   width: 618px;
  //   padding-left: 75px;
  //   padding-right: 75px;
  // }

  // @media screen and (min-width: 1024px) {
  //   width: 882px;
  //   padding-left: 71px;
  //   padding-right: 71px;
  // }
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  // fill: rgb(43, 255, 0);
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('../images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(90, 90, 90, 0.5);
}
