.pagination-buttons-trending,
.pagination-buttons-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #f7f7f7;
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 479px) {
  .pagination-buttons-trending .page-btn {
    height: 35px;
    width: 35px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  .pagination-buttons-trending .start-page,
  .pagination-buttons-trending .end-page {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.page-btn:not([class$='-page']) {
  //   width: 35px;
}

.page-btn[class*='-page'] {
  font-size: 0.6em;
}

.page-btn.active,
.page-btn:hover {
  background-color: #ff6b08;
  color: #ffffff;
}

.page-btn[disabled] {
  opacity: 0.3;
}
