<footer class="footer">
  <div class="footer-container">
    
          <button class="up-button visually-hidden" data-up-btn>
            <svg class="up-button__svg" width="30" height="30">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        
    <p class="footer-text">&copy; 2021 | All Rights Reserved |</p>
    <p>
      Developed with
      <svg class="footer-icon" width="14" height="12.88">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      by
      <button class="footer-button" type="button" >GoIT Students</a>
    </p>
  </div>
</footer>
