<footer class="footer">
  <div class="footer-container">
    <button class="up-button visually-hidden" data-up-btn>
      <svg class="up-button__svg" width="30" height="30">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>

    <p class="footer-text">&copy; 2021 | All Rights Reserved |</p>
    <p>
      Developed with
      <svg class="footer-icon" width="14" height="12.88">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      by
    </p>
    <button data-modal-open class="footer-button" type="button">
      GoIT Students
    </button>
  </div>
</footer>
<!-- TeamModal -->
<div class="modal-overlay is-hidden">
  <div class="team-modal">
    <button type="button" class="team-modal__button">
      <svg class="close-icon">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <ul class="team-card">
      <li class="team-card__item">
        <img
          src="./images/team/MishaSobachko.jpg"
          alt="photo"
          class="team-card__img"
        />
        <h2 class="team-name">
          Misha <br />
          Sobachko
        </h2>
        <p class="team-role">Team Lead</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/MishaDreamer-web"
          ><svg class="sosial-link" width="35" height="20">
            <use href="./images/sprite.svg#icon-github"></use></svg
        ></a>
      </li>
      <li class="team-card__item">
        <img
          src="./images/team/MariaBelik.jpg"
          alt="photo"
          class="team-card__img"
        />
        <h2 class="team-name">
          Maria <br />
          Belik
        </h2>
        <p class="team-role">Scrum Master</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/mari4-ka"
          ><svg class="sosial-link" width="35" height="20">
            <use href="./images/sprite.svg#icon-github"></use></svg
        ></a>
      </li>
      <li class="team-card__item">
        <img
          src="./images/team/VitaliyMyts.jpg"
          alt="photo"
          class="team-card__img"
        />
        <h2 class="team-name">
          Vitaliy <br />
          Myts
        </h2>
        <p class="team-role">Developer</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/Zombik007"
          ><svg class="sosial-link" width="35" height="20">
            <use href="./images/sprite.svg#icon-github"></use></svg
        ></a>
      </li>
      <li class="team-card__item">
        <img
          src="./images/team/VolodymyrRyba.jpg"
          alt="photo"
          class="team-card__img"
        />
        <h2 class="team-name">
          Volodymyr <br />
          Ryba
        </h2>
        <p class="team-role">Developer</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/vovaryba"
          ><svg class="sosial-link" width="35" height="20">
            <use href="./images/sprite.svg#icon-github"></use></svg
        ></a>
      </li>
      <li class="team-card__item">
        <img
          src="./images/team/SergeiViktorov.jpg"
          alt="photo"
          class="team-card__img"
        />
        <h2 class="team-name">
          Sergei <br />
          Viktorov
        </h2>
        <p class="team-role">Developer</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/SergejViktorov"
          ><svg class="sosial-link" width="35" height="20">
            <use href="./images/sprite.svg#icon-github"></use></svg
        ></a>
      </li>
      <li class="team-card__item">
        <img
          src="./images/team/OleksiiNesterenko.jpg"
          alt="photo"
          class="team-card__img"
        />
        <h2 class="team-name">
          Oleksii <br />
          Nesterenko
        </h2>
        <p class="team-role">Developer</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/Nashweel"
          ><svg class="sosial-link" width="35" height="20">
            <use href="./images/sprite.svg#icon-github"></use></svg
        ></a>
      </li>
      <li class="team-card__item">
        <img
          src="./images/team/AlonaSuprun.jpg"
          alt="photo"
          class="team-card__img"
        />
        <h2 class="team-name">
          Alona <br />
          Suprun
        </h2>
        <p class="team-role">Developer</p>
        <a
          target="_blank"
          class="team-contact"
          href="https://github.com/Alona-Suprun"
          ><svg class="sosial-link" width="35" height="20">
            <use href="./images/sprite.svg#icon-github"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</div>
