<div class="my_library-container">
  <div class="my_library-logo">
    <svg width="24" height="24">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
    <a class="my_library-logo" href="./index.html">Filmoteka </a>
  </div>

  <ul class="my_library-navigation">
    <li>
      <a href=""><span class="navigstion-text">HOME</span></a>
    </li>
    <li>
      <a href=""><span class="navigstion-text">MY LIBRARY</span></a>
    </li>
  </ul>

  <div class="my_library-buttons">
    <button class="buttons">Watched</button>
    <button class="buttons">QUEUE</button>
  </div>
</div>
