<div class="my_library-container">
  <div class="library-nav">
    <a class="my_library-logo" href="./index.html">
      <svg class="logo-img" width="24" height="24">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <span class="text-logo">Filmoteka</span>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="" class="navigstion-link">HOME</a>
        </li>
        <li class="nav-item">
          <a href="" class="navigstion-link">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="my_library-buttons">
    <button class="buttons btn libr-watched">Watched</button>
    <button class="buttons btn libr-queue">queue</button>
  </div>
</div>
