<div class="page-numbers container">
  <div class="page-numbers__style">
    <button class="btn-page">
      <svg class="btn-page__icon" width="16" height="16">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <span class="btn-dots">...</span>
    <button class="btn-page1 active btn">1</button>
    <button class="btn-page2 btn">2</button>
    <button class="btn-page3 btn">3</button>
    <button class="btn-page4 btn">4</button>
    <button class="btn-page5 btn">5</button>
    <span class="btn-dots">...</span>
    <button class="btn-page">
      <svg class="btn-page__icon" width="16" height="16">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
